@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(182, 176, 233, 0.87);
  position: relative;
  background: linear-gradient(rgb(3, 3, 29), rgb(22, 22, 90));
  background-attachment: fixed;
  font-size: calc(10px + 1vmin);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: rgb(134, 134, 192);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input,
button,
select,
textarea {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(134, 134, 192);
}

textarea {
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  transition: transform 0.1s linear, opacity 0.1s linear;
}
button:hover, button:focus {
  transform: scale(1.1);
  opacity: 0.7;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
#login header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
#login header img {
  max-width: 90%;
}
#login header h1 {
  visibility: hidden;
  margin: 0;
  font-size: 0.05rem;
}
#login #log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  max-width: -moz-min-content;
  max-width: min-content;
  padding: 1rem;
  border-radius: 1rem;
}

#loader {
  width: 2rem;
  height: 2rem;
  max-width: 40px;
  max-height: 40px;
  border-left: 0.2rem solid white;
  border-radius: 50%;
  animation: spin 0.4s ease-in-out infinite;
}

#info-box {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  margin: 0.2rem;
}

#info-box.info-success {
  background-color: rgb(0, 34, 0);
  color: rgb(106, 218, 106);
}

#info-box.info-error {
  background-color: rgb(54, 0, 0);
  color: rgb(218, 106, 106);
}

#info-box.info-info {
  background-color: rgb(54, 50, 0);
  color: rgb(216, 218, 106);
}

.flex-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.center-flex {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

#top-nav-bar {
  z-index: 998;
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: rgba(24, 25, 53, 0.87);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
#top-nav-bar > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 1.6rem;
  padding: 0.3rem;
}
#top-nav-bar .title {
  flex: 1;
}

#footer-menu {
  z-index: 998;
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: rgba(24, 25, 53, 0.87);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0;
}
#footer-menu a {
  font-size: 2rem;
  color: rgba(1, 1, 15, 0.9);
}
#footer-menu a.active {
  color: rgba(182, 176, 233, 0.87);
}
@media only screen and (min-width: 672px) {
  #footer-menu {
    display: none;
  }
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
@media only screen and (min-width: 672px) {
  main {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 800px) {
  main {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  width: 100%;
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
main form textarea {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
}

#board {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(2, 1, 29, 0.801);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  height: 100vh;
  width: 250px;
  padding-top: 0.3rem;
  transition: transform 0.2s ease-out;
}
nav.false {
  transform: translateX(-300px);
}
nav.true {
  transform: translateX(0px);
}
nav a {
  display: block;
  background-color: rgba(1, 1, 15, 0.925);
  color: rgb(138, 138, 211);
  margin-top: 0.5rem;
  padding: 0.3rem;
  width: 95%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
nav a.active {
  background-color: rgba(138, 138, 211, 0.925);
  color: rgb(1, 1, 15);
}

article {
  width: calc(100% - 0.5rem);
  padding: 0.5rem;
  padding-right: 4rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
  background-color: rgba(1, 1, 15, 0.9);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}
article.no-padding {
  padding-right: 0;
}
article a {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
article pre {
  background-color: rgba(4, 4, 49, 0.9);
  padding: 0.3rem;
  border-radius: 0.3rem;
  width: 100%;
  margin: 0.5rem;
  word-break: break-word;
  white-space: pre-wrap;
}
article span {
  color: white;
  font-size: 0.6rem;
}
article p {
  margin: 0;
}
article p a {
  font-size: 0.8rem;
  font-weight: bolder;
}
article p.orange {
  color: orange;
}
article p.red {
  color: red;
}
article .delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
@media only screen and (min-width: 800px) {
  article {
    flex-basis: 40%;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1200px) {
  article {
    flex-basis: 25%;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.weather-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  margin-top: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.weather-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.add {
  gap: 0.5rem;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}
.add a {
  display: block;
  background-color: rgba(24, 25, 53, 0.87);
  padding: 1rem;
  color: rgba(182, 176, 233, 0.87);
  border-radius: 50%;
}

.red {
  color: red;
}

.green {
  color: green;
}

#board-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
#calendar p {
  font-weight: bold;
}
#calendar p:nth-child(2) {
  font-size: 2.4rem;
}
#calendar p:nth-child(2) sub {
  font-size: 1.2rem;
}

#data-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  flex: 1;
}
#data-counter div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 2rem;
  position: relative;
}
#data-counter div p {
  font-size: 0.6rem;
}
#data-counter div span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: absolute;
  right: -0.2rem;
  top: -0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(91, 92, 153);
  padding: 0.3rem;
}

#event-dot {
  position: absolute;
  background-color: yellow;
  width: 1.5rem;
  height: 1.5rem;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  filter: blur(0.2rem);
}
#event-dot.orange {
  background-color: orange;
}
#event-dot.red {
  background-color: red;
}/*# sourceMappingURL=index.css.map */