@mixin all {
  box-sizing: border-box;
}

@mixin root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: $mainTextColor;
  background: $appBackground;
  background-attachment: fixed;
  font-size: $mainFontSize;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@mixin rootDiv {
  width: 100%;
}

@mixin body {
  margin: 0;
  @include size($width: 100%, $height: 100vh);
  @include flexDisplay($justify: flex-start);
}

@mixin login {
  @include flexDisplay($justify: flex-start);
  header {
    @include flexDisplay($justify: flex-start);
    img {
      max-width: 90%;
    }
    h1 {
      visibility: hidden;
      margin: 0;
      font-size: 0.05rem;
    }
  }
  #log-form {
    @include flexDisplay($gap: 0.5rem);
    background: $logFormBackground;
    max-width: min-content;
    padding: 1rem;
    border-radius: 1rem;
  }
}

@mixin loader {
  @include size(
    $width: 2rem,
    $height: 2rem,
    $max-width: 40px,
    $max-height: 40px
  );
  border-left: 0.2rem solid white;
  border-radius: 50%;
  animation: spin 0.4s ease-in-out infinite;
}

@mixin infoBox {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  margin: 0.2rem;
}

@mixin infoBoxSuccess {
  background-color: $infoSuccessBackground;
  color: $infoSuccessColor;
}
@mixin infoBoxError {
  background-color: $infoErrorBackground;
  color: $infoErrorColor;
}
@mixin infoBoxWarning {
  background-color: $infoWarningBackground;
  color: $infoWarningColor;
}

@mixin topNavBar {
  z-index: 998;
  position: fixed;
  height: $topNavBarHeight;
  width: 100%;
  background-color: $topNavBarBackground;
  @include flexDisplay($direction: row);
  & > * {
    @include flexDisplay();
    font-size: 1.6rem;
    padding: 0.3rem;
  }
  .title {
    flex: 1;
  }
}

@mixin main {
  padding-top: $topNavBarHeight;
  @include flexDisplay($justify: flex-start);
  @media only screen and (min-width: 800px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  section {
    @include flexDisplay($justify: flex-start);
    width: 100%;
  }
  form {
    @include flexDisplay();
    textarea {
      width: 100%;
      height: 8rem;
      margin-bottom: 1rem;
    }
  }
}

@mixin board {
  width: 100%;
  max-width: 800px;
  @include flexDisplay($justify: flex-start);
}

@mixin navDrawer {
  @include flexDisplay($justify: flex-start);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $navDrawerBackground;
  backdrop-filter: blur(1rem);
  height: 100vh;
  width: 250px;
  padding-top: 0.3rem;
  transition: transform 0.2s ease-out;
  &.false {
    transform: translateX(-300px);
  }
  &.true {
    transform: translateX(0px);
  }
  a {
    display: block;
    background-color: $navDrawerOptionBackground;
    color: $navDrawerTextBackground;
    margin-top: 0.5rem;
    padding: 0.3rem;
    width: 95%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    &.active {
      background-color: $navDrawerActiveOptionBackground;
      color: $navDrawerActiveTextBackground;
    }
  }
}

@mixin article {
  width: calc(100% - 0.5rem);
  padding: 0.5rem;
  padding-right: 4rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
  background-color: $recordBackground;
  position: relative;
  &.no-padding {
    padding-right: 0;
  }
  @include flexDisplay($align: flex-start);
  a {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
  pre {
    background-color: $recordCommentBackground;
    padding: 0.3rem;
    border-radius: 0.3rem;
    width: 100%;
    margin: 0.5rem;
    word-break: break-word;
    white-space: pre-wrap;
  }
  span {
    color: white;
    font-size: 0.6rem;
  }
  p {
    margin: 0;
    a {
      font-size: 0.8rem;
      font-weight: bolder;
    }
  }
  .delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  @media only screen and (min-width: 800px) {
    flex-basis: 40%;
    flex-grow: 1;
  }
  @media only screen and (min-width: 1200px) {
    flex-basis: 25%;
  }
}

@mixin fullPageLoader() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  z-index: 9999;
  @include flexDisplay();
}

@mixin add() {
  gap: 0.5rem;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  a {
    display: block;
    background-color: $topNavBarBackground;
    padding: 1rem;
    color: $mainTextColor;
    border-radius: 50%;
  }
}
