$mainTextColor: rgba(255, 255, 255, 0.87);
$mainFontSize: calc(10px + 1vmin);
$appBackground: #242424;

$infoSuccessBackground: rgb(0, 34, 0);
$infoSuccessColor: rgb(106, 218, 106);

$infoErrorBackground: rgb(54, 0, 0);
$infoErrorColor: rgb(218, 106, 106);

$infoWarningBackground: rgb(54, 50, 0);
$infoWarningColor: rgb(216, 218, 106);
